@import url(http://fonts.googleapis.com/css?family=Roboto:400,400italic,500,500italic,700,700italic,900,900italic,300italic,300,100italic,100);

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}
a {
    text-decoration: none;
    color: #e5e7eb;
}

ul {
    list-style-type: none;
    
}
.box {
    max-width: 1500px;
    margin: 0 auto;
}
.header {
    padding: 24px;
    background-color: #1f2937;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    
}

.hero-header, ul {
    display: flex;
    justify-content: space-between;
    gap: 2rem;
    align-items: center;   
}

.left-link {
    font-size: 24px;
    color: #f9faf8;
}

.right-link {
    font-size: 18px;
}


.hero {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 4rem;
    gap: 4rem;
}
.hero-main-text {
    width: 500px;
    font-size: 48px;
    color: #f9faf8;
    font-weight: 900;
}
.text {
    font-size: 18px;
    color: #e5e7eb;
    font-weight: normal;
}
.header-button, .call-button{
    font-size: 18px;
    font-weight: 900;
    padding: 6px 16px;
    border-radius: 10px;
    color: #f9faf8;
    background-color: #3882f6;
    
}

.header-button  {
    border: 1px solid #3882f6;
}

img {
    max-width: 500px;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
}
.info {
    display: flex;
    align-items: center;
    padding: 24px 24px 66px 24px;
    flex-direction: column;
}

.some-info {
    font-size: 36px;
    font-weight: 900;
    color: #1f2937;
    margin: 8px 0 32px 0;
}
.buttons {
    display: flex;
    gap: 3rem;
}
.button-content {
    display: flex;
    align-items: center;
    flex-direction: column;
    max-width: 200px;
}
.button-text {
    text-align: center;
    margin: 10px;
    color: #7e7f83;
}
.info-button  {
    border: 2px solid #3882f6;
    border-radius: 10px;
    background-color: #ffffff;
    padding: 80px 72px;   
}

.quote {
    display: flex;
    background-color: #e5e7eb;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 5rem 12rem;
}
.quote-text {
    font-style: italic;
    font-weight: 200;
    font-size: 36px;
    text-align: justify;
}
.signature {
    font-weight: 500;
    font-size: 24px;
    display: flex;
    align-self: flex-end;
}
.quote-text, .signature {
    color: #1f2937;
    line-height: 1.2;
}

.call {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.call {
    background-color: #3882f6;
    margin: 80px 250px;
    padding: 40px 90px;
    border-radius: 10px;
}

.action {
    color: #f9faf8;
    font-size: 24px;
    font-weight: 400;
}

.click {
    color: #f9faf8;
    font-size: 16px;
    font-weight: 300;
}

.call-button {
    border: 1px solid #f9faf8;
}